.header {
    width: 100vw;
    height: 60px;
    background-color: #F4F4F4;
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-top: 1px solid #F48225;
}
  
.logo {
    width: 153px;
    height: 30.502px;
    flex-shrink: 0;
}

.header h2 {
    font-size: 8px;
    margin-top: 30px;
}

.botao-login-usuario {
    margin-left: auto;
    margin-right: 30px;
    display: flex;
    align-items: center;
}

.search {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
