.container {
  width: 100vw;
  height: 60px;
}

.cabecalho {
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-top: 1px solid #f48225;
  border-bottom: 1px solid #919499;
}

.logo {
  width: 153px;
  height: 30.502px;
  flex-shrink: 0;
}

.cabecalho h2 {
  font-size: 8px;
  margin-top: 30px;
}

.botao-login-usuario {
  width: 153px;
  height: 34px;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.search {
  width: 651px;
  height: 36px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
