.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  padding: 0 10px;
}

.todas-respostas-container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  margin-top: 3px;
  width: 100%;
}

.qtd-respostas {
  text-align: start;
  color: #f48225;
}

.sem-resposta {
  color: #636363;
}

.com-resposta {
  color: #f48225;
}

.respostas-descricao span {
  font-size: 16px;
}

.todas-respostas-conteudo {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
  border-bottom: 1px solid #919499;
}

.resposta-resto {
  display: flex;
  margin-top: 25px;
  margin-bottom: 15px;
}

.respostas-descricao {
  font-size: 19px;
  display: flex;
  justify-content: flex-start;
}

form{
  padding: 0 10px;
  border: none;
}
.responder {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.responder textarea {
  border-radius: 8px;
  max-width: 765px;
  width: 100%;
  height: 244px;

  padding: 10px;
  outline: none;
}

.responder label {
  font-size: 20px;
  margin-bottom: 5px;
}

.container-botoes-responder {
  display: flex;
  gap: 5px;
  justify-content: end;
  margin-top: 5px;
}

button {
  border: none;
}

.botao-enviar {
  color: #fff;
  border-radius: 8px;
  background-color: #0a95ff;
  width: 130px;
  height: 30px;
  cursor: pointer;
}

.botao-limpar {
  background-color: #919499;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
}

.nomeUsuario{
  margin-left: 15px;
  color: #1170B9;
}


