<div class="container">
  <div class="grupoInicialTopo">
    <div class="inicial">
      <h3 class="titulo">Todas as Perguntas</h3>
      <button routerLink="/nova-pergunta" class="novaPergunta">Fazer Pergunta</button>
    </div>
    <div class="topo">
      <h2 class="total">
        {{ perguntas.length }}
        {{ perguntas.length > 1 ? 'perguntas' : 'pergunta' }} </h2>
      <div>
        <button class="botaoEsquerdo filtro selecionado" (click)="buscarTodasPerguntas()">Todas</button>
        <button class="botaoCentro filtro" (click)="buscarRespondidas()">Respondidas</button>
        <button class="botaoDireito filtro" (click)="buscarNaoRespondidas()">Não Respondidas</button>
      </div>
    </div>
  </div>
  <mat-list class="example-list-wrapping" *ngFor="let pergunta of perguntas">
    <mat-divider></mat-divider>
    <mat-list-item lines="3">
      <span [routerLink]="['/pergunta', pergunta.id]" span class="perguntaTitulo"
        matListItemTitle>{{pergunta.titulo_pergunta}}</span>
      <span class="perguntaDescricao">{{pergunta.descricao_pergunta}}</span>
    </mat-list-item>
    <div class="dadosUsuario">
      <div class="quantidadeResposta">
        <span class="{{ pergunta.respostas.length < 1 ? 'sem-resposta' : 'com-resposta' }}">
          {{ pergunta.respostas.length }}
        </span>

        <span class="{{ pergunta.respostas.length < 1 ? 'sem-resposta' : 'com-resposta' }}">
          {{ pergunta.respostas.length > 1 ? 'respostas' : 'resposta' }}
        </span>
      </div>
      <span class="usuarioPergunta">{{pergunta.usuario.nome}}</span>
      <span class="dataPergunta">{{pergunta.data_pergunta | date : 'mediumDate' : '' : 'pt-BR'}}</span>
      <span></span>
    </div>
  </mat-list>
</div>
