<div class="nova-pergunta">
  <h1>Faça sua pergunta</h1>

  <form action="" class="form-pergunta">
    <section class="box-titulo">
      <h2>Título</h2>
      <p>Seja específico e imagine você perguntando para outra pessoa.</p>
      <input class="titulo" type="text" placeholder="Qual a sua pergunta de programação?">
    </section>

    <section class="box-descricao">
      <h2>Descrição</h2>
      <p>Inclua todas as informações que alguém precise para responder sua pergunta.</p>
      <textarea name="descricao" id="descricao" rows="10" aria-setsize="false"></textarea>
    </section>

    <button class="btn-enviar">Enviar Pergunta</button>
  </form>
</div>