<div class="container">
  <div class="pergunta">
    <div class="borda" *ngIf="pergunta">

      <div class="titulo">
        {{ pergunta.titulo_pergunta }}
      </div>

      <div class="detalhes">
        <p id="data">{{pergunta.data_pergunta | date : 'mediumDate' : '' : 'pt-BR'}}</p>
        <p id="quantidade">

          <span class="{{ pergunta.respostas.length < 1 ? 'sem-resposta' : 'com-resposta' }}">
            {{ pergunta.respostas.length }}
          </span>

          <span class="{{ pergunta.respostas.length < 1 ? 'sem-resposta' : 'com-resposta' }}">
            {{ pergunta.respostas.length > 1 ? 'respostas' : 'resposta' }}
          </span>
        </p>
        <p id="usuario">{{pergunta.usuario.nome}}</p>
      </div>
      <div class="descricao">
        {{ pergunta.descricao_pergunta }}
      </div>
    </div>
    <app-resposta></app-resposta>
  </div>
</div>