
.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px;
    height: 100vh;
}

.pergunta {
    width: 791px;
    height: 316px;
    top: 61px;
    left: 244px;
    border: 0px 0px 1px 0px;
    border-bottom: 1px solid #919499
    
}

.titulo {
    color: #1170B9;
    font-family: Hanuman;
    font-size: 20px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
}

.detalhes {
    display: flex;
    align-items: center;
    font-family: Hannari;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;

}

.detalhes p {
    margin-right: 18px;
}

.detalhes #data {
    color: #636363;
}

.detalhes #quantidade {
    color: #636363;

}

.detalhes #usuario {
    color: #1170B9ed;
}
